<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Forgotten Password - Brand</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=97380e22c8933e9aa79cbc2390b9f15a">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="/assets/css/styles.min.css?h=f0d3b1a983e367e41915fe7f7b583fa5">
</head>

<body class="bg-gradient-primary" style="background: rgb(254,254,255);margin: 20px;">
  <div class="container-fluid"><!-- Start: Split Button Secondary --><a class="btn btn-secondary btn-icon-split"
      role="button" href="/user"><span class="text-white-50 icon"><i class="fas fa-arrow-left"></i></span><span
        class="text-white text"
        style="background: #66c64e;">Back</span></a><!-- End: Split Button Secondary --><!-- Start: Split Button Danger --><a
      class="btn btn-danger float-sm-end btn-icon-split" role="button"><span class="text-white-50 icon"><i
          class="fas fa-flag"></i></span><span
        class="text-white text">Banned</span></a><!-- End: Split Button Danger -->
    <h3 class="text-dark mb-4" style="padding: 20px;">Information of user</h3>
    <div class="row mb-3">
      <div class="col-lg-4">
        <div class="card mb-3">
          <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4"
              src="https://fastly.picsum.photos/id/958/640/480.jpg?hmac=xDLOuwFUBdUKpxzwEYxAzkw7WeThOjsnFU0pnCDo9jA"
              width="160" height="160">
            <div class="mb-3"></div>
            <form>
              <div class="mb-3"><label class="form-label" for="signature"><strong>Summary</strong></label><textarea
                  class="form-control" id="signature-1" rows="4" name="signature"></textarea></div>
              <div class="mb-3"></div>
              <div class="mb-3"></div>
            </form>
          </div>
        </div>
        <div class="card shadow mb-4"></div>
      </div>
      <div class="col-lg-8">
        <div class="row mb-3 d-none">
          <div class="col">
            <div class="card text-white bg-primary shadow">
              <div class="card-body">
                <div class="row mb-2">
                  <div class="col">
                    <p class="m-0">Peformance</p>
                    <p class="m-0"><strong>65.2%</strong></p>
                  </div>
                  <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                </div>
                <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bg-success shadow">
              <div class="card-body">
                <div class="row mb-2">
                  <div class="col">
                    <p class="m-0">Peformance</p>
                    <p class="m-0"><strong>65.2%</strong></p>
                  </div>
                  <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                </div>
                <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card shadow mb-3">
              <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">User Infomation</p>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="username"><strong>UUID</strong></label><input
                          class="form-control" type="text" id="username" placeholder="user.name" name="username"></div>
                    </div>
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="email"><strong>Email
                            Address</strong></label><input class="form-control" type="email" id="email"
                          placeholder="user@example.com" name="email"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="first_name"><strong>Full
                            name</strong></label><input class="form-control" type="text" id="first_name"
                          placeholder="John" name="first_name"></div>
                    </div>
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="last_name"><strong>Date of
                            brith</strong></label><input class="form-control" type="text" id="last_name"
                          placeholder="Doe" name="last_name"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="first_name"><strong>Phone
                            number</strong></label><input class="form-control" type="text" id="first_name-2"
                          placeholder="John" name="first_name"></div>
                    </div>
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="last_name"><strong>Gender</strong></label><input
                          class="form-control" type="text" id="last_name-2" placeholder="Doe" name="last_name"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3"><label class="form-label"
                          for="first_name"><strong>Following</strong></label><input class="form-control" type="text"
                          id="first_name-1" placeholder="John" name="first_name"></div>
                    </div>
                    <div class="col">
                      <div class="mb-3"><label class="form-label"
                          for="last_name"><strong>Follower</strong></label><input class="form-control" type="text"
                          id="last_name-1" placeholder="Doe" name="last_name"></div>
                    </div>
                  </div>
                  <div class="mb-3"></div>
                </form>
              </div>
            </div>
            <div class="card shadow">
              <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Contact Settings</p>
              </div>
              <div class="card-body">
                <form>
                  <div class="mb-3"><label class="form-label" for="address"><strong>Address</strong></label><input
                      class="form-control" type="text" id="address" placeholder="Sunset Blvd, 38" name="address"></div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="city"><strong>City</strong></label><input
                          class="form-control" type="text" id="city" placeholder="Los Angeles" name="city"></div>
                    </div>
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="country"><strong>Country</strong></label><input
                          class="form-control" type="text" id="country" placeholder="USA" name="country"></div>
                    </div>
                  </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- <div class="card shadow mb-5">
    <div class="card-header py-3">
      <p class="text-primary m-0 fw-bold">Post of user</p>
    </div>
    <div class="card-body">
      <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
        <div class="col mb-4">
          <div><a href="#"><img class="rounded img-fluid shadow w-100 fit-cover"
                src="/assets/img/products/1.jpg?h=fc1e51d44f18accfa3a90f81c9cfffe4" style="height: 250px;"></a>
            <div class="py-4"><span class="badge bg-primary mb-2">Website</span>
              <h4 class="fw-bold">Lorem libero donec</h4>
            </div>
          </div>
          <div class="mb-3"><!-- Start: Split Button Primary --><a class="btn btn-primary btn-icon-split" role="button"
              style="margin: 8px;"><span class="text-white-50 icon"><i class="fas fa-comment-dots"></i></span><span
                class="text-white text">30</span></a><!-- End: Split Button Primary --><!-- Start: Split Button Success --><a
              class="btn btn-success btn-icon-split" role="button"><span class="text-white-50 icon"><svg
                  xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                  class="bi bi-hand-thumbs-up-fill">
                  <path
                    d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z">
                  </path>
                </svg></span><span
                class="text-white text">200</span></a><!-- End: Split Button Success --><!-- Start: Split Button Danger --><a
              class="btn btn-danger btn-icon-split" role="button" style="margin: 0px 16px;"><span
                class="text-white-50 icon"><i class="fas fa-trash"></i></span><span
                class="text-white text">Banned</span></a><!-- End: Split Button Danger --></div>
        </div>
        <div class="col mb-4">
          <div><a href="#"><img class="rounded img-fluid shadow w-100 fit-cover"
                src="/assets/img/products/2.jpg?h=104fcc18ad179e4b0b9e0ee12b849bed" style="height: 250px;"></a>
            <div class="py-4"><span class="badge bg-primary mb-2">Website</span>
              <h4 class="fw-bold">Lorem libero donec</h4>
            </div>
          </div>
          <div class="mb-3"><!-- Start: Split Button Primary --><a class="btn btn-primary btn-icon-split" role="button"
              style="margin: 8px;"><span class="text-white-50 icon"><i class="fas fa-comment-dots"></i></span><span
                class="text-white text">30</span></a><!-- End: Split Button Primary --><!-- Start: Split Button Success --><a
              class="btn btn-success btn-icon-split" role="button"><span class="text-white-50 icon"><svg
                  xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                  class="bi bi-hand-thumbs-up-fill">
                  <path
                    d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z">
                  </path>
                </svg></span><span
                class="text-white text">200</span></a><!-- End: Split Button Success --><!-- Start: Split Button Danger --><a
              class="btn btn-danger btn-icon-split" role="button" style="margin: 0px 16px;"><span
                class="text-white-50 icon"><i class="fas fa-trash"></i></span><span
                class="text-white text">Banned</span></a><!-- End: Split Button Danger --></div>
        </div>
        <div class="col mb-4">
          <div><a href="#"><img class="rounded img-fluid shadow w-100 fit-cover"
                src="/assets/img/products/3.jpg?h=fce4fd8e26138d1b5fd8c63ef4f2e64c" style="height: 250px;"></a>
            <div class="py-4"><span class="badge bg-primary mb-2">Website</span>
              <h4 class="fw-bold">Lorem libero donec</h4>
            </div>
          </div>
          <div class="mb-3"><!-- Start: Split Button Primary --><a class="btn btn-primary btn-icon-split" role="button"
              style="margin: 8px;"><span class="text-white-50 icon"><i class="fas fa-comment-dots"></i></span><span
                class="text-white text">30</span></a><!-- End: Split Button Primary --><!-- Start: Split Button Success --><a
              class="btn btn-success btn-icon-split" role="button"><span class="text-white-50 icon"><svg
                  xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                  class="bi bi-hand-thumbs-up-fill">
                  <path
                    d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z">
                  </path>
                </svg></span><span
                class="text-white text">200</span></a><!-- End: Split Button Success --><!-- Start: Split Button Danger --><a
              class="btn btn-danger btn-icon-split" role="button" style="margin: 0px 16px;"><span
                class="text-white-50 icon"><i class="fas fa-trash"></i></span><span
                class="text-white text">Banned</span></a><!-- End: Split Button Danger --></div>
        </div>
        <div class="col mb-4">
          <div><a href="#"><img class="rounded img-fluid shadow w-100 fit-cover"
                src="/assets/img/products/1.jpg?h=fc1e51d44f18accfa3a90f81c9cfffe4" style="height: 250px;"></a>
            <div class="py-4"><span class="badge bg-primary mb-2">Website</span>
              <h4 class="fw-bold">Lorem libero donec</h4>
            </div>
          </div>
          <div class="mb-3"><!-- Start: Split Button Primary --><a class="btn btn-primary btn-icon-split" role="button"
              style="margin: 8px;"><span class="text-white-50 icon"><i class="fas fa-comment-dots"></i></span><span
                class="text-white text">30</span></a><!-- End: Split Button Primary --><!-- Start: Split Button Success --><a
              class="btn btn-success btn-icon-split" role="button"><span class="text-white-50 icon"><svg
                  xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                  class="bi bi-hand-thumbs-up-fill">
                  <path
                    d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z">
                  </path>
                </svg></span><span
                class="text-white text">200</span></a><!-- End: Split Button Success --><!-- Start: Split Button Danger --><a
              class="btn btn-danger btn-icon-split" role="button" style="margin: 0px 16px;"><span
                class="text-white-50 icon"><i class="fas fa-trash"></i></span><span
                class="text-white text">Banned</span></a><!-- End: Split Button Danger --></div>
        </div>
      </div>
    </div>
  </div> --}}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/script.min.js?h=1498362f0b1098c6d47b8c31f7b76b9d"></script>
</body>

</html>
